/* ==========================================================================
    GERAL
========================================================================== */

.img-logo {
    height: 50px;
}

.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero,
.btn-menu a {
    color: #fff;
}


/* ==========================================================================
    BANNER
========================================================================== */

.hero {
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    background-image: linear-gradient(180deg, rgba(16, 24, 32, .85), rgba(16, 24, 32, .85)), url(../imgs/bg-sublime-se-personalizados.jpg);
}

.title-banner {
    font-weight: 600;
    padding: 5px 0px;
}

.desc-banner {
    font-weight: 200;
    line-height: 1.5rem;
}

.btn-menu {
    background-color: #E20682;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
    margin-top: 20px;
}

.fa-bars,
.fa-instagram,
.fa-whatsapp {
    font-size: 20px;
}

.site-menu-toggle {
    margin: auto;
}


/* ==========================================================================
     Lanchonete
========================================================================== */

.bg-sobreNos {
    background-image: url(../imgs/lampada-bg-sublime-se-personalizados.jpg);
    height: 400px;
    display: flex;
}

.title-sobreNos {
    color: #000;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-sobreNos {
    overflow-x: clip;
    width: 67%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 25%);
    margin: auto;
}

.section-sobreNos .row {
    background-color: #fff;
}


/* ==========================================================================
    Sobre Nós
========================================================================== */

.bg-logo {
    height: 400px;
    background-image: url(../imgs/logo-sublime-se-personalizados.jpeg);
}

.desc-sobreNos p {
    color: #696969;
}


/* ==========================================================================
     Rodapé
========================================================================== */

.footer {
    background-color: #1d262d;
}


/* ==========================================================================
    MEDIA
========================================================================== */

@media only screen and (max-width: 991px) {}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }
    .btn-menu {
        width: 190px;
    }
}